/*
 * Sticker styles
 */

.d_stick{
  display: none;
  position: absolute;
  background-color: #ffff99;
  width: 100px;
  height: 90px;
  padding: 0;
  box-shadow: 0px 1px 1px #aaa;
}

.d_stick:hover {
  box-shadow: 0 5px 15px #aaa;
}

.d_stick ::-webkit-input-placeholder{
  color: #ccc;
}

#t_title{
  border: none;
  width: 90%;
  background-color: #ffff99;
  margin: 1%;
  height: 15%;
  font-size: 12px;
  font-weight: bold;
  font-family: cursive;
  text-align: center;
  color: #808080;
}

#t_text{
  border: none;
  width: 96%;
  height: 65%;
  background-color: #ffff99;
  margin: 5% 1% 1% 1%;
  padding: 1%;
  font-size: 11px;
  font-family: cursive;
  color: #808080;
}

.d_stick textarea{
  resize: none;
  outline: none;
}

#i_img {
  width: 20px;
  height: 20px;
}

#i_hide, #i_fill, #i_font, #i_icon, #i_file {
  float: left;
  margin-top: 3px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

/*#d_control {
  display: block;
}*/

#d_toolbar {
  display: none;
  position: absolute;
  height : 27px;
  padding: 0;
  box-shadow: 0px 1px 3px #aaa;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  background-color: #f8f8f8;
  z-index: 100;
}

#d_arrow {
  display: none;
  position: absolute;
  height : 15px;
  width : 15px;
  padding: 0;
  box-shadow: 0px 1px 3px #aaa;

  outline: none;

  font-family: Arial;
  color: #8a8a8a;
  text-decoration: none;

  border: 1px solid #d6d6d6;
  border-radius: 50%;

  box-shadow: 0px 1px #dadada;
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: 50% 50%;
  background-image: url(../res/arrowdown.svg);
  z-index: 100;
}

#d_arrow:hover {
  background-color: #f8f8f8;
}

#d_arrow:active {
}

.stbi:hover {
  background-color: #f2f3f4;
}

.i_attach {
  display: none;
  position: absolute;
  height : 15px;
  width : 15px;
  padding: 0;
  box-shadow: 0px 1px 3px #aaa;

  outline: none;

  font-family: Arial;
  color: #8a8a8a;
  text-decoration: none;

  border: 1px solid #d6d6d6;
  border-radius: 50%;

  box-shadow: 0px 1px #dadada;
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: 50% 50%;
  background-image: url(../res/file.svg);
  z-index: 100;
}
